@model HomeViewModel

<h1>Лучшие книги</h1>
<div class="row mt-5 mb-2">
    @{
        foreach (Book book in Model.favBooks)
        {
            @Html.Partial("AllBooks", book)
        }
    }
</div>

@{
    ViewData["Title"] = "Cosmibooks - Главная страница";
}
 